doctype html
html
    head
        title= title
        link(rel="stylesheet" href="/stylesheets/style.css")
        script(type="text/javascript", src="/javascripts/jquery-1.11.0.js")
        script(type="text/javascript", src="/javascripts/webgl-debug.js")
        script(type="text/javascript", src="/javascripts/common.js")
        script(type="text/javascript", src="/javascripts/glMatrix-0.9.5.min.js")
        script(type="text/javascript", src="/javascripts/buffer.js")
        script(type="text/javascript", src="/javascripts/camera.js")
        script(type="text/javascript", src="/javascripts/resource_loader.js")
        script(type="text/javascript", src="/javascripts/shader_loader.js")
        script(type="text/javascript", src="/javascripts/texture.js")
        script(type="text/javascript", src="/javascripts/imageLoader.js")
        script(type="text/javascript", src="/javascripts/gunInfo.js")
        script(type="text/javascript", src="/javascripts/shader.js")
        script(type="text/javascript", src="/javascripts/md3reader.js")
        script(type="text/javascript", src="/javascripts/md3Loader.js")
        script(type="text/javascript", src="/javascripts/gameWorldUtils.js")
        script(type="text/javascript", src="/javascripts/main.js")
        script(type="text/javascript", src="/javascripts/worldLoader.js")
        script(type="text/javascript", src="/javascripts/mouseInputHandler.js")
        script(type="text/javascript", src="/javascripts/keyBoardHandler.js")
        script(type="text/javascript", src="/javascripts/mathUtils.js")
        script(type="text/javascript", src="/javascripts/mapPhysic.js")
        script(type="text/javascript", src="/javascripts/player.js")

        meta(name="viewport", content="width=device-width, initial-scale=1.0, user-scalable=no")
        block head_content
    body
        block content