body {
    margin:0px;
    /*cursor: none;*/
    width:100%;
    height:100%;
    padding: 0px;
    overflow: hidden;
}

canvas
{
    width:100%;
    height:100%;
    padding: 0px;
}

.crossHairs
{
    left: 50%;
    top: 50%;
    float: left;
    position: absolute;
}